tensorflow
tensorflow-datasets
tensorflow-recommenders
tensorflow-recommenders-addons
keras
pandas
Jinja2
pydot
fastapi
uvicorn
python-multipart
pydantic
python-dotenv

# pip install --upgrade -r requirements.txt
